
.drawCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
}
canvas {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .canvas-container {
    max-width: 90%;
  }
  canvas {
    width: 90%;
    height: auto;
  }
}

.popupControls {
  display: grid;
  margin-bottom: 10rem;
  margin-left: 39rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  row-gap: 50px;
  position: absolute;
  animation: fadeIn 7s;
  justify-items: center;
  align-items: center;
}

.popup {
  font-size: 20px;
  position: absolute;
  border-radius: 15px;
  padding: 4px 8px;
  text-align: center;
  color: rgb(var(--color4));
  margin-bottom: 3rem;
  background-color: rgb(var(--color1));
  border: 4px ridge transparent;
  width: 100%;
  height: auto;
  white-space: nowrap;
  grid-row: 1;
  grid-column: span 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button.clear img {
  width: 20px;
  height: auto;
}
button.history img {
  width: 26px;
  height: auto;
}

button.clear,
button.history,
button.savebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgb(var(--color3));
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

button.clear:active,
button.history:active,
button.clearsesh:active,
button.savebutton:active {
  transform: scale(0.9);
}

button.clear {
  grid-row: 2;
  grid-column: 1;
}

button.history {
  grid-row: 2;
  grid-column: 2;
}
button.savebutton img {
  width: 20px;
  height: auto;
}

.save {
  position: absolute;
  margin-top: 9.6rem;
  margin-left: 31.8rem;
  animation: fadeIn 2s;
}

.historyDisplay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  margin-left: 56rem;
  animation: fadeIn 0.5s;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: auto;
}

.historyItem img {
  width: 90px;
  height: 40px;
  border: 4px ridge rgb(var(--color1));
}

.clearsesh {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

button.clearsesh {
  width: 22px;
  height: 22px;
  background-color: rgb(var(--color4));
  transition: transform 0.1s ease;
  border: 1px ridge rgb(var(--color1));
  display: flex;
  justify-content: center;
  align-items: center;
}
button.clearsesh img {
  width: 15px;
  height: auto;
}

.aboutItems {
  font-family: "IBM Plex Sans", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  row-gap: 10rem;
  margin-bottom: 33rem;
}

.aboutItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  align-items: center;
  width: 50vw;
}

.aboutItem img {
  width: 75%;
  height: auto;
  border: 4px ridge;
  grid-column: 1;
  grid-row: span 5;
}

.aboutItem h1 {
  grid-column: 2;
  grid-row: 1;
  font-size: 2vw;
  color: rgb(var(--color3));
}

.aboutItem p {
  grid-column: 2;
  grid-row: 2 span 3;
  font-size: 1vw;
  color: rgb(var(--color4));
}

.aboutItem a {
  grid-column: 2;
  grid-row: 5;
  font-size: 1vw;
  color: rgb(var(--color4));
}

.aboutItemFlip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  align-items: center;
  width: 50vw;
}

.aboutItemFlip img {
  width: 75%;
  height: auto;
  border: 4px ridge;
  grid-column: 2;
  grid-row: span 5;
  justify-self: end;
}

.aboutItemFlip h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 2vw;
  color: rgb(var(--color3));
}

.aboutItemFlip p {
  grid-column: 1;
  grid-row: 2 span 5;
  font-size: 1vw;
  color: rgb(var(--color4));
}

.aboutItemFlip a {
  grid-column: 1;
  grid-row: 5;
  font-size: 1vw;
  color: rgb(var(--color4));
}

@media (max-width: 768px) {
  .aboutItems{
    margin-bottom: 20rem;
    row-gap: 5rem;
  }
  .aboutItem {
    width: 90vw;
  }
  .aboutItem img {
    width: 100%;
  }
  .aboutItem h1 {
    font-size: 4vw;
  }
  .aboutItem p {
    font-size: 3vw;
  }
  .aboutItemFlip {
    width: 90vw;
  }
  .aboutItem a {
    font-size: 3vw;
  }
  .aboutItemFlip img {
    width: 100%;
  }
  .aboutItemFlip h1 {
    font-size: 4vw;
  }
  .aboutItemFlip p {
    font-size: 3vw;
  }
  .aboutItemFlip a {
    font-size: 3vw;
  }
}
