@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.button-45 {
  align-items: center;
  filter: grayscale(100%);
  justify-content: center;
  background-color: #ffe7e7;
  background-position: 0 0;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  width: 40%;
  min-width: fit-content;
  box-sizing: border-box;
  color: #d33a2c;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
    none;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}

.button-45:active {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.button-45:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}
.background {
  background: linear-gradient(90deg, #303030, #161616);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 10px;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
  width: 30%;
  margin-top: 3rem;
}

.titleexp {
  font-family: Source Sans 3, sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  grid-row: 1;
  grid-column: span 2;
}
.subtext {
  padding-top: 3rem;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  width: 60%;
  line-height: 2rem;
  margin: auto;
}

.projects {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  row-gap: 50px;
  margin-bottom: 12rem;
}

.projectwindow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  bottom: 6px;
  max-width: 90%;
  max-height: fit-content;
  font-size: 1vw;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  animation: fadeIn 0.6s linear;
}

@keyframes fadeIn{
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.flavor-text {
  white-space: wrap;
}

.project:hover .projectwindow {
  opacity: 1;
  pointer-events: auto;
}

.project {
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.project img {
  max-width: 100%;
  max-height: 900px;
  height: auto;
  border: 2mm ridge red;
  display: block;
}
.project-title {
  padding: 0 0;
  width: 98%;
  opacity: 55%;
  height: 98%;
  background: linear-gradient(90deg, #363636, #0a0a0a);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  transition: transform 0.3s, clip-path 0.3s;
  clip-path: inset(0);
  font-family: Ubuntu, sans-serif;
  font-size: x-large;
  letter-spacing: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project:hover .project-title:nth-child(2) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: translateY(-400px);
  transition: 1s;
}
.project:hover .project-title:nth-child(3) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: translateY(400px);
  transition: 1s;
}
