@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.btn {
  font-size: 1em;
  font-weight: 600;
  background-color: rgb(var(--color1));
  padding: 24px 24px 24px 32px;
  display: flex;

  justify-content: left;
  border-radius: 99px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  border: none;
}

.btn .textbtn {
  color: rgb(var(--color4));
  line-height: 1;
  position: relative;
  z-index: 5;
  margin-right: 32px;
}

.btn svg {
  display: inline-block;
  position: relative;
  z-index: 5;
  transform: rotate(0deg) translateX(0);
  transform-origin: left;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn::before {
  content: "";
  background-color: rgb(var(--color2));
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 99px;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn:hover svg {
  transform: rotate(45deg) translateX(-8px);
}

.btn:hover::before {
  width: 100%;
  height: 100%;
  right: 0;
}

.title-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 10px;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
  width: 40%;
  margin-top: 3rem;
}

.titleexp {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  grid-row: 1;
  grid-column: span 2;
}
.subtext {
  padding-top: 3rem;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  width: 60%;
  line-height: 2rem;
  margin: auto;
}

.projects {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
  flex-direction: row;
  margin-top: 3rem;
  gap: 5rem;
  margin-bottom: 12rem;
}
@media (max-width: 768px) {
  .projects {
    flex-direction: column;
    gap: 0em;
  }
  .subtext {
    width: 90%;
  }
  .project{
    flex: 1 1 350px !important;
  }
  .title-container {
    column-gap: 10vw;
    width: 90%;
  }
  .titleexp {
    width: 90%;
  }

  .project-title {
    background: none !important;
    opacity: 1 !important;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(0, 0, 0, 0.8),
    0px 0px 8px rgba(0, 0, 0, 0.7);
  }
}

.projectwindow {
  position: absolute;
  background-color: rgba(26, 25, 25, 0.8);
  color: #fff;

  bottom: 5%;
  max-width: 90%;
  padding: 1% 1%;
  font-size: 1vw;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  animation: fadeIn 1s linear;
  row-gap: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  66% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.flavor-text {
  white-space: wrap;
}

.project:hover .projectwindow {
  opacity: 1;
  pointer-events: auto;
}

.project {
  flex: 1 1 500px;
  max-width: 550px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.project img {
  max-width: 100%;
  max-height: 900px;
  height: auto;
  border: 2mm ridge red;
  display: block;
}
.project-title {
  padding: 0 0;
  width: 98%;
  opacity: 55%;
  height: 98%;
  background: linear-gradient(90deg, #363636, #222222);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  transition: transform 0.3s, clip-path 0.3s;
  clip-path: inset(0);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: x-large;
  letter-spacing: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project:hover .project-title:nth-child(2) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: translateY(-400px);
  transition: 1s;
}
.project:hover .project-title:nth-child(3) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: translateY(400px);
  transition: 1s;
}
.project:not(:hover) .project-title:nth-child(2) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: translateY(0px);
  transition: 0.8s;
}
.project:not(:hover) .project-title:nth-child(3) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: translateY(0px);
  transition: 0.8s;
}

@keyframes opaquefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
