@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.background {
  background: linear-gradient(90deg, rgb(var(--color0)), rgb(var(--color0)));
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 80px;
  margin-top: 4%;
  color: rgb(var(--color4));
  font-family: Abel, Sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.namebadge {
  font-size: 20px;
  position: absolute;
  border-radius: 15px;
  padding: 1px 4px;
  border: 4px ridge transparent;
  animation: none;
}

@keyframes badge {
  from {
    transform: translate(400px, -200%) scale(0);
  }
  to {
    transform: translate(450px, -370%) scale(1);
  }
}

@keyframes badgeReverse {
  from {
    transform: translate(450px, -370%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(400px, -200%) scale(0);
    opacity: 0;
  }
}

@keyframes snakeBox {
  0% {
    border-color: blue;
  }
  25% {
    border-color: red;
  }
  50% {
    border-color: orange;
  }
  75% {
    border-color: yellow;
  }
  100% {
    border-color: green;
  }
}

.centerConsole {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  flex-direction: column;
}

.iframeTransition {
  position: absolute;
  animation: expand 1s forwards;
}
@keyframes expand {
  from {
    transform: translate(var(--translate-sx, 0), var(--translate-sy, 0))
      scale(0);
  }
  to {
    transform: translate(var(--translate-ex, 0), var(--translate-ey, 0))
      scale(1);
  }
}

.imageTransition {
  position: absolute;
  animation: imgExpand 1s forwards;
}

@keyframes imgExpand {
  from {
    transform: translate(10px, -90%) scale(0);
  }
  to {
    transform: translate(-180px, -30%) scale(1);
  }
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.pfp-container {
  position: relative;
  display: inline-block;
}

.pfp {
  border-radius: 8px;
  border: 2mm ridge rgb(var(--color3));

}

.washEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: 200% 200%;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0); /* collapsed */
  opacity: 0;
}

.washEffect.animate {
  animation: washEffectAnimation 0.3s ease-in-out forwards;
  opacity: 1;
}


@keyframes washEffectAnimation {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  30% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  70% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
.subpics {
  opacity: 0;
  transition-duration: 2s;
  transition-timing-function: ease;

  &:active {
    opacity: 100;
  }
}

.stacked-imgs {
  display: grid;
  flex-direction: column;
  align-items: stretch;
}
.stacked-imgs img {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.stacked-imgs img:nth-child(1) {
  animation-delay: 0s;
}

.stacked-imgs img:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-right: -5rem;
}
.answer {
  color: rgb(var(--color4));
  font-family: Ubuntu, Sans-serif;
  font-size: 20px;
  text-align: left;
  text-overflow: wrap;
  font-weight: 300;
  padding-bottom: 2rem;
  line-height: 179%;
}
.q {
  font-weight: 400;
  font-size: 40px;
  vertical-align: sub;
}
@media (max-width: 768px) {
  .centerConsole {
    width: 95%;
  }
  .name {
    margin-top: 6rem;
    line-height: 5rem;
  }
  .namebadge {
    line-height: 1.8rem;
  }
  .pfp {
    border: 1mm ridge rgb(var(--color3));
    width: 80vw;
    height: auto;
    
  }

  .stacked-imgs img {
    width: 111%;
    height: 111%;
  }
  .stacked-imgs {
    display: none;
    gap: 1rem;
    margin-right: 1.08rem;
  }
  .questions {
    width: 90%;
  }
  .answer {
    font-size: 18px;
  }
  .q {
    font-size: 30px;
  }
}
@keyframes mobile {
  from {
    transform: translate(220%, -100%) scale(0);
  }
  to {
    transform: translate(220%, 0) scale(1);
  }
}
