
.resume-container {
  display: flex;
  justify-content: center; 
  text-align: center;
  width: 100%;
  position: relative; 
  overflow-x: hidden; 
}


.resume-container > a {
  width: 200%; 
  display: block; 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}


.resume-container iframe {
  width: 100%; 
  height: 500px; 
  display: block; 
}

.button-container {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  width: 10%;
  min-width: fit-content;
  min-height: fit-content;
  margin-top: 5em;
}


@media (max-width: 768px) {
  .resume-image {
    width: 97%;
    border: ridge 2mm rgba(110, 107, 107, 0.6);
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.6em;
  flex-wrap: wrap;
  margin: 1em 0;
}

.social-icon {
  position: relative;
  font-size: 1.2em;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
}

.icon-bg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(var(--color1)), rgb(var(--color2)));
  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);
  transition: transform 265ms ease-in;
}
.icon-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(0.8);
  transition: transform 265ms;
}
.icon-bg:hover {
  transform: scale(1.15);
  box-shadow: 0 0 15px rgba(var(--color3), 0.7);
}

.icon-bg:hover img {
  filter: drop-shadow(0 0 5px rgba(var(--color3) 0.8));
}
