.skillCol {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  height: fit-content;
}
.skillsRow{
    width: 90vw;
    height: 40vh;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.skillsbackground {
  background: linear-gradient(90deg, #303030, #161616);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}