.skillCol {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  width: 30%;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  height: fit-content;
  animation:  1s forwards;
}
  

.skillsRow{
    width: 90vw;
    height: 40%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}
@media (max-width: 768px) {

  .skillCol {
    width: 80%;
    margin-bottom: 2rem;

  }
  
}