.stampsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6%; 
  font-family: "IBM Plex Sans", sans-serif;
  
  justify-content: space-evenly;
  padding: 16px;
  width: 85%;
  margin-top: 5rem;
  margin-bottom: 20rem;
}

@media  (max-width: 768px) {
  .stampsContainer {
    width: 90%;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }
  
}