.experienceItem {
  width: 50vw;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1 / 1;
  max-height: 100vh;
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: white;
  border: 5px solid var(--c1);
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s linear;
}

.boundingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50vw;

  max-width: 70vw;

  aspect-ratio: 1 / 1;

  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 768px) {
.boundingBox{
  max-width: 95vw;
  width: 95vw;
}
.experienceItem{
  width: 85vw;
}
}


.experienceItem:hover:not(.scaleDown) {
  transform: scale(1);
  animation: experienceItemHover 1.5s infinite;
}

.experienceItem.scaleDown {
  display: flex;
  transform: scale(30%);
  z-index: 10;
}

@keyframes experienceItemHover {
  0% {
    border-color: var(--c1);
  }
  25% {
    border-color: var(--c2);
  }
  50% {
    border-color: var(--c3);
  }
  75% {
    border-color: var(--c4);
  }
  100% {
    border-color: var(--c1);
  }
}

.gridItem {
  aspect-ratio: 1 / 1;
  width: 33.33%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transform: scale(0);
  animation: gridMove 1s ease var(--p3) forwards;
  z-index: 5;
}

@keyframes gridMove {
  from {
    transform: translate(0%, 0%) scale(0);
  }
  to {
    transform: translate(var(--p1), var(--p2)) scale(0.98);
  }
}

.gridItem.idle {
  transform-origin: center center;
  transform: translate(var(--p1), var(--p2)) scale(0.98);
  animation: none/*float 4s ease-in-out infinite;*/;
  animation-delay: calc(var(--p3) * 1.5s);
  :hover {
    animation: tilt-n-move-shaking 0.5s infinite;
  }
}

.gridItemClose {
  aspect-ratio: 1 / 1;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  transform: translate(var(--p1), var(--p2)) scale(0.98);
  animation-delay: var(--p3) !important;
  animation: gridMoveReverse 1s forwards;
  z-index: 5;
}

@keyframes gridMoveReverse {
  from {
    transform: translate(var(--p1), var(--p2)) scale(0.98);
  }
  to {
    transform: translate(0%, 0%) scale(0);
  }
}

@keyframes float {
  0% {
    transform: translate(var(--p1), var(--p2)) scale(0.98);
  }
  50% {
    transform: translate(var(--p1), calc(var(--p2) - 4px)) scale(1.002);
  }
  100% {
    transform: translate(var(--p1), var(--p2)) scale(0.98);
  }
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
