.experienceItemSquare {
  width: 90%;
  height: 90%;
  border: 5px solid;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  transition: transform 0.3s ease;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experienceItemSquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    font-family: "IBM Plex Sans", sans-serif;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    z-index: 200;
  }
  

  .overlayContent {
    position: absolute;
    background: rgb(var(--color0));
    padding: 20px;
    max-width: 600px;
    width: 100vw;
    border: 5px solid;
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 90vh;

  }
  



  .closeBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: rgb(var(--color1));
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .closeBtn:hover {
    background: #ccc;
  }
  
