#HomeNavBar {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-link {
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 28px;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    text-align: center; 
    width: clamp(10vw, 150px, 20vw); 

    
    box-sizing: border-box;
}

.nav-link:hover {
    transform: scale(1.2);
    font-weight: bold; 
}

.bar {
    border-left: 6px solid rgb(var(--borderColor));
    height: 5vh;
}

@media (max-width: 768px) {
    #HomeNavBar {
        gap: 0rem;
        flex-direction: column;
        padding: 0.5rem 0; 
    }

    .bar {

        height: 2px;               
        width: 100%;           
        border-left: none;        
        border-top: 4px solid rgb(var(--borderColor)); 
        margin: 0.25rem 0;        
    }

    .nav-link {
        padding: 0.25rem 0;
        width: auto;              
        font-size: 2rem;
    }
}
