@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;1,200&display=swap");

.navcontainer {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 5rem;

  background-color: #1c1c1c;
}

.button {
  position: absolute;

  margin-top: 5rem;
  z-index: 999;
  width: 100%;
  height: 10vh;
  clip-path: ellipse(80% 100% at 50% 0%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  transition: width 300ms linear;

}




.nav {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(90deg, rgb(var(--navcolor)), rgb(var(--navcolor)));
  width: 100%;
  height: 10vh;
  padding: 5px 0px;
  display: block;

}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.navlink {
  font-family: "IBM Plex Sans", sans-serif;
  opacity: 0;
  width: fit-content;
  transform: translateY(60px);
  animation: itop 300ms linear forwards;
  text-decoration: none;
  font-size: 30px;
  color: rgb(var(--textcolor));
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  border-radius: 15px;
  transition: all 0.5s linear;

}

.navlink:hover {
  color: rgb(var(--highlightcolor));
}


@keyframes itop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {

  .navlink{
    font-size: 35px;
  }
  .button{
    width: 100%;
    margin-top: 4rem;
  }

}
