.stampContainer {
  width: clamp(80px, 14%, 500px);
  aspect-ratio: 1 / 1;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
}
.stamp {
  transition: transform 0.3s linear;
  display: flex;

  transform-origin: center center;
  border-radius: 50%;
  position: relative;
}

.stampEnlarged {
  transition: transform 0.3s linear;
  transform: scale(2);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  z-index: 999;
}

.stampImage {
  border: 0.15em solid rgb(var(--color3));
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: none;
}

.stampImage:hover {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text {
  color: rgb(var(--color4));
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: wrap;
  text-align: center;
  width: max-content;

}
.text:hover {
  animation: rotateY 1s forwards;
}

@keyframes rotateY {
  from {
    transform: rotateX(0deg) translateX(-50%);
  }
  to {
    transform: rotateX(360deg) translateX(-50%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(385deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.enlargedContent {
  position: absolute;
  padding: 5%;
  color: rgba(var(--color4), 1);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1vw;
  width: 75%;
  height: 50%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  pointer-events: none;
}

.enlargedName,
.enlargedFlavor {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
}
.enlargedName {
  font-size: clamp(0.5em, 4vw, 1em);
  font-weight: 600;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.03em;
}

.enlargedFlavor {
  font-size: 0.5em;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.02em;

}

.stampGif {
  position: absolute;
  transform: scale(3);
  top: -10%;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media  (max-width: 768px) {
  .stampContainer {
    width: 50%;
    aspect-ratio: 1 / 1;


  }
  .enlargedName {
    font-size: clamp(0.5em, 4vw, 20em);

  }
  
  .enlargedFlavor {
    font-size: 2em;

  
  }
  
}